
.navigation-container {
    width: 100%;
    padding: 8px 32px;
    background-color: rgb(47, 120, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-title-wrapper {
        font-size: 1.4em;
        font-weight: 600;
        color: white;
    }

    .nav-links-wrapper {
        display: flex;
        align-items: center;
    }

    .nav-link {
        font-size: 1.2em;
        text-decoration: none;
        color: rgb(218, 218, 93);
        margin-left: 3rem;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: rgb(255, 255, 255);
            font-size: 1.4em;
        }
    }

    .active-link {
        color: rgb(255, 255, 255);
        font-size: 1.4em;
        font-weight: 600;
        border-bottom: 1px solid rgb(255, 255, 255);
    }

    .nav-auth-wrapper {
        display: flex;
        align-items: center;
    }
}